:root {
  --accent: #aadee8;
  --ac_dark: #4798a3;
  --ac_black: #06272b;
  --ac_light: #d3edf1;
  --ac_white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.login-page-box {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.login_container_img {
  grid-column: 1/2;
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.login_container_img img {
  width: 420px;
  height: 100%;
  padding: 10px 0px;
}
.login-page {
  grid-column: 2/3;
  width: calc(800px - 450px);
  border-left: 1px solid var(--ac_white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sign-in-text {
  height: 80px;
}
.sign-in-text p {
  font-size: 28px;
  font-weight: 600;
  color: var(--ac_white);
}
.user_porfile_img {
  height: 100%;
  width: 80px;
  border: 2px solid var(--ac_white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.user_porfile_img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.login-form {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form input {
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
  color: var(--ac_white);
  height: 100%;
  font-weight: 500;
  width: 100%;
}
.login-form input::placeholder {
  color: var(--ac_white);
  font-weight: 500;
  text-align: left;
}
.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
  margin: 10px 0px;
  border: 1px solid var(--ac_white);
  border-radius: 5px;
}
.input-icon {
  color: var(--ac_white);
  padding: 0px 5px;
}
.eye_password {
  cursor: pointer;
  color: var(--ac_white);
  padding-right: 5px;
}
.forget__password {
  font-size: 15px;
  text-decoration: none;
  color: var(--ac_white);
  margin: 3px 0px;
  font-weight: 500;
}
.forget__remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.remember input {
  width: 20px;
  margin-right: 5px;
}
.remember label {
  color: var(--ac_white);
  font-weight: 500;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px 30px;
  border: 2px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 500;
  color: var(--ac_white);
  box-shadow: 0 0 0 2px var(--ac_white);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 20px 0px;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: var(--ac_white);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--ac_white);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px var(--ac_white);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
.sign-in-register {
  text-decoration: none;
  font-weight: 500;
  color: var(--ac_white);
  margin-top: 10px;
}
