:root {
  --accent: #aadee8;
  --ac_dark: #4798a3;
  --ac_black: #06272b;
  --ac_light: #d3edf1;
  --ac_white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.create-post {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--ac_light);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(189, 179, 179, 0.8);
  width: 50vw;
  height: 14rem;
  margin-top: 30px;
  border-radius: 10px;
}
.create-post-form{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.create-post-form input{
    height: 1.6rem;
    width: 20rem;
    border-radius: 5px;
    font-weight: 600;
}
.create-post-form input::placeholder{
    font-weight: 500;
    text-align: center;
}
.create-post-form button{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
.create-post-button{
    background-color: var(--ac_black);
    color: var(--accent);
    border-radius: 5px;
}